<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/message-add">add message</a>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h2>Please Log In to see full messages and write.</h2>
    <a href="/log-in">LOG IN</a>
    <%}%> <% messages.forEach(message => { %>
    <img src="/images/<%=message.user.avatar%>.png" />
    <p><%=message.title %></p>
    <% if (user) {%>
    <p><%=message.user.username%></p>
    <%}%>
    <p><%=message.text%></p>
    <p><%=message.datetime%></p>
    <%})%>
  </body>
</html>
