<!DOCTYPE html>
<html>
  <%- include('./partials/head'); -%>
  <body>
    <%- include('./partials/header'); -%> <% messages.forEach(message => { %>
    <section class="message-container">
      <img src="/images/<%=message.user.avatar%>.png" />
      <div>
        <span>
          <h2><%=message.title %></h2>
          <% if (user) {%>
          <h3><%=message.user.username%></h3>
          <%}%>
        </span>
        <p><%=message.text%></p>
        <p><%=message.datetime%></p>
      </div>
      <!-- <form action="message-delete" method="post">
        <button
          class="btn"
          class="submit"
          type="submit"
          name="idToDelete"
          value="<%=message.id %>"
        >
          X
        </button>
      </form> -->
    </section>
    <%})%>
  </body>
</html>
